<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	  autoReload="true">

	<variable name="logDirectory" value="${basedir}/logs"/>
	
	<targets>
		<target 
			name="logFile" 
			xsi:type="File" 
			fileName="${logDirectory}/app_logs_${shortdate}.log" 
			layout="${longdate}|${logger}|${uppercase:${level}}|${message} ${exception}">
		</target>
		<!--添加一个新条目让日志输出到控制台中，并添加必要的输出布局（layout）-->
		<target
			name="console"
			xsi:type="Console"
			layout="${longdate}|${level}|${message}">
		</target>
		<!--说明 xsi:type="Console"指定输出到控制台；layout指定输出文件内容的样式 ${longdate}是日期（具体到毫秒），${level}是日志的等级；${message}是具体要输出的内容。-->
	</targets>

	<rules>
		<logger name="Microsoft.*" minlevel="Trace" writeTo="logConsole" final="true" />
		<logger name="*" minlevel="Trace" writeTo="logFile" />
		<logger name="*" writeTo="console"/>
	</rules>
</nlog>